body {
    margin: 0 auto;
    width: 1400px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.35);
}

.main-nav {
    display: block;
    background-color: rgb(199, 199, 199);
    margin: 0;
}

.main-nav-ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-nav-ul-li {
    font-size: 24px;
    padding: 22px;
    font-weight: 700;
}

.main-nav-ul-li:hover {
    background-color: rgb(233, 233, 233);
    padding: 22px;
    color: red;
    font-weight: 700;
}

.flex-main {
    display: flex;
}

.dob-nav {
    display: block;
    background-color: azure;
    flex-grow: 1;
}

.dob-nav-ul {
    list-style-type: none;
    font-size: 22px;
    margin: 20px 0 0 0;
}

.dob-nav-ul li a {
    margin: 0 0 0 15px;
    text-decoration-line: none;
    font-size: 25px;
}

.main-block {
    display: block;
    background-color: rgb(233, 233, 233);
    flex-grow: 4;
}

.main-block-h1 {
    margin: 0;
    font-size: 50px;
    text-align: center;
}

.list {
    margin-top: 20px;
}

.list-one {
    list-style-type: disc;
}

.list-two {
    list-style-type: armenian;
}

.list-three {
    list-style-type: circle;
}

.list-four {
    list-style-type: decimal-leading-zero;
}

.table {
    margin-top: 20px;
}

.table-one {
    border: 4px solid black;
    text-align: center;
    border-collapse: collapse;
}

.table-one thead,
tr,
tbody,
td,
caption {
    border: 3px solid black;
}

.footer {
    display: block;
    background-color: rgb(199, 199, 199);
    font-size: 25px;
}

.footer-h1 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
}